/* Popup container - can be anything you want */

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button {
    background: #fff;
    padding: 10px;
    box-shadow: -2px -1px 10px rgba(0, 0, 0, .2);
    margin-top: 10px;
    width: 330px;
    text-align: center;
}


/* The actual popup */

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 20px;
    position: absolute;
    z-index: 1;
    bottom: -77%;
    left: 127%;
    margin-left: -80px;
}

.popuptext a {
    color: white;
    text-decoration: none;
    line-height: 41px;
}


/* Popup arrow */


/* Toggle this class - hide and show the popup */

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}


/* Add animation (fade in the popup) */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
